{% extends 'products/base.html' %}
{% block content %}
<div class="container mx-auto p-6">
    <!-- Section Détails du Produit -->
    <div class="bg-white rounded-lg shadow-md p-6">
        <h2 class="text-3xl font-bold mb-4">Détails du Produit</h2>
        <p>
            <strong>Référence :</strong> {{ product.reference }}
        </p>
        <p>
            <strong>Nom :</strong> {{ product.name }}
        </p>
        <p>
            <strong>Gamme de Produit :</strong> {{ product.product_range.name }} ({{ product.product_range.get_category_display }})
        </p>
        <p>
            <strong>Version Modifiée :</strong> {{ product.is_modified|yesno:"Oui,Non" }}
        </p>
        <p>
            <strong>Numéro de Version :</strong> {{ product.version_number }}
        </p>
        <p>
            <strong>Créé par :</strong> {{ product.created_by.username }}
        </p>
        <p>
            <strong>Date de Création :</strong> {{ product.created_at|date:"d/m/Y H:i" }}
        </p>
        <p>
            <strong>Mis à jour le :</strong> {{ product.updated_at|date:"d/m/Y H:i" }}
        </p>
        <p>
            <strong>Site de Production :</strong> 
            {% if product.site %}
                {{ product.site.name }} ({{ product.site.get_location_display }})
            {% else %}
                Non assigné
            {% endif %}
        </p>
        {% if product.stl_file %}
            <div class="mt-6">
                <a href="{% url 'products:view_stl' product.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded">
                    Voir le Modèle STL
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
